.footer {
  margin: 10px 0;
  padding: 30px;
  text-align: center;
  font-size: 0.8rem;
  color: rgb(60, 60, 60);
  background: linear-gradient( #f0f0f0 1%, #d0d0d0 95%);
  min-height:120px;
  font-weight: bold;
}

.footer p {
  margin: 5px 0;
}