@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');
@import url("~leaflet/dist/leaflet.css");

.leaflet-container {
  height: 40vh;
}

.basemap-cont {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  height: auto;
  width: auto;
  border-radius: 3px;
  background-color: #fff;
  }

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.devbd{
  border: 1px solid #000;
}

.layout-spacer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    min-height: 86vh;
   
  }

.category_card{
  width: 16rem;
  margin-bottom: 30px;
}
.card-title h6{
  font-weight: 600;
  font-style: italic;
}
.sidemenu{
  border:1px solid lightgray;
  border-radius: 10px;
  padding: 20px 10px;
  min-height: 400px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.sidemenu h3{
  text-align: left;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 16px;
  
}
.sidemenu-link{
  font-weight: 600;
}
.sidemenu .list-group-item{
  font-size: 13px;
  }
.list-group-item .badge{
  font-size: 14px;
}
.list-group-item.active {
  border-radius: 4px;
}
.list-group-item.active a:hover {
  color:white;
}
.maket-card{
  width: 18rem;
}
.maket-card p{
  font-size: 14px;
}
.maket-body{
  min-height: 310px;
}
.maket-desc{
  font-style: italic;
  min-height: 60px;
}
.maket-unit{
  padding:10px 0;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
}
.maket-admin div{
  display: flex;
  justify-content: space-between;
}
.maket-admin>div>span{
  color:#212529;
  font-weight: bold;
}
.maket-description{
  display: flex;
  flex-direction: column;
}
.maket-admin div>span{
  font-size: 13px;
}
.scale-badge,.category-badge{
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0.25rem 0.35rem;
  margin-right: 5px;
  border-radius: 5px;
}
.category-badge:hover{
  color: #dcdcdc;
}
.scale-card{
  min-height:120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.btn-xs{
  padding: 1px 4px;
}
th{
  font-size: 0.8rem;
  text-align: center;
  }
td{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: darkblue;
  }
  .my_card{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    padding: 0;
    margin-bottom: 20px;
    max-width:700px;
  }
  
  .my_card_date{
    padding-left: 20px;
    padding-top: 10px;
  }
  .my_card_title{
    padding-left: 20px;
    padding-top: 6px;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .my_card_text{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.9rem;
  }
  .my_button{
    padding: 5px 8px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #0d6efd;
    color: white;
  
  }
  .news_article{
    position: absolute;
    z-index: 10;
    color:white;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 600;
  }
  .article_group{
    min-width: 100%;
    margin-bottom: 10px;
  }
  .article_text{
    max-width:700px;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:#0d6efd;
  }
  
  @media (max-width: 600px) {
    .nav-link::before{
      content:"‣ ";
    }
    
  .my_card {
    grid-template-columns: 2fr;
    max-width: 350px;
  }
  }
  