@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.devbd{
  border: 1px solid #000;
}
.category_card{
  width: 16rem;
  margin-bottom: 30px;
}
.card-title h6{
  font-weight: 600;
  font-style: italic;
}
.sidemenu{
  border:1px solid lightgray;
  border-radius: 10px;
  padding: 20px 10px;
  min-height: 400px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.sidemenu h3{
  text-align: left;
  font-weight: 300;
  margin-bottom: 20px;
  margin-left: 16px;
  
}
.sidemenu-link{
  font-weight: 600;
}
.sidemenu .list-group-item{
  font-size: 13px;
  }
.list-group-item .badge{
  font-size: 14px;
}
.list-group-item.active {
  border-radius: 4px;
}
.list-group-item.active a:hover {
  color:white;
}
.maket-card{
  width: 18rem;
}
.maket-card p{
  font-size: 14px;
}
.maket-body{
  min-height: 310px;
}
.maket-desc{
  font-style: italic;
  min-height: 60px;
}
.scale-badge,.category-badge{
  color: white;
  font-weight: 600;
  padding: 0.25rem 0.35rem;
  margin-right: 10px;
  border-radius: 5px;
}
.category-badge:hover{
  color: #dcdcdc;
}
.scale-card{
  min-height:120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.btn-xs{
  padding: 1px 4px;
}
th{
  font-size: 0.8rem;
  text-align: center;
  }
td{
    font-size: 0.7rem;
    font-weight: bold;
  }