.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #333;
  padding: 5px 40px;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
}

.header a {
  color: rgb(75, 75, 75);
  margin-right: 20px;
}

.header a:hover {
  color: #000;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  
}
