.mainpage{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  border: 1px solid #000;
  }

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
